
.icon-plus:before {
  content: "\ea0a";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-redo2:before {
  content: "\e968";
}
.icon-equalizer:before {
  content: "\e992";
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}
.header ul {
  flex: 1;
  list-style: none;
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header ul li:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
}
.header ul li:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 500;
}
.header ul li:nth-child(2) span {
  margin: 2% 5% 0 0
}
.header div {
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 1.6rem;
}
.header div span {
  display: inline-block;
  margin: auto 6%;
}